SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = 'd3f3b68bde35104d8494fa647c9498a4'
API_SECRET = 'lSpWxUz3eVktz-mVITM268Xwhufu7NbJ'
